[Service]
ExecStart=/home/pi/scale-flow-controller-pi
WorkingDirectory=/home/pi
User=pi

# Disable automatic restarting
Restart=no
# (Delete the RestartSec line if it is still there)

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
