[Service]
ExecStart=/home/i2rt/scale-flow-controller-pi
WorkingDirectory=/home/i2rt
User=i2rt

# Disable automatic restarting
Restart=no
# (Delete the RestartSec line if it is still there)

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
